.scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 11000;
}

.scrollToTopButton {
    padding: 12px 15px;
    font-size: 18px;
    background-color: #ababab;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.scrollToTopButton:hover {
    opacity: 0.8;
}
