.bigContainer {
    margin: 50px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.authContainer {
    min-width: 400px;
    margin: 50px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
}

.authContainer h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #447ec5;
    font-size: 24px;
    font-weight: 700;
}

.formGroup {
    margin-bottom: 15px;
}

.formGroup label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.formGroup input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.imageContainer {
    width: 420px;
    height: 400px; /* Fixed typo here */
    margin: 50px;
    padding: 20px;
    border-radius: 4px;
    background: url("../../../public/images/login.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.exampleImage {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.linkContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    font-family: Arial, sans-serif;
    color: #333;
}

.linkContainer label {
    font-size: 14px;
    margin: 0;
}

.linkContainer a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.linkContainer a:hover {
    text-decoration: underline;
}
input{
    height: 40px;
}
.loader {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 10px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
