.contentDetailTitle{
    color: #61dafb;
    font-family: notosans-bold;
    font-size: 1.875rem;
    line-height: 2.375rem;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
    position: absolute;
    width: 600px;
    text-align: center;
    left: 160px;
}
.contentDetailSapo{
    position: absolute;
    color: #add2e1;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.625rem;
    margin: 1.25rem 0;
    width: 700px;
    z-index: 100;
    text-align: center;
    left: 110px;
    top: 280px;
}