/* DataTable.css */
.table-container {
    margin: 20px auto;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
    color: #333;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    text-align: left;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
}

/* FeedbackForm.css */
.feedback-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Trong suốt đen */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    /* Đảm bảo lớp phủ nằm trên các phần tử khác */
}

.feedback-form-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    /* Đặt chiều rộng tối đa cho form */
    width: 100%;
}

.feedback-form-container h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"] {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.submit-btn {
    width: 100%;
    padding: 10px 0;
    background-color: #009879;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.submit-btn:hover {
    background-color: #007f67;
}

.feedback-textarea {
    width: 100%;
    padding: 5px;
}

.button-clicked {
    background: #005f4c;
    color: white;
    cursor: default;
    opacity: 1;
    font-weight: 700;
}

.button-normal {
    background: white;
    color: black;
    cursor: pointer;
}

.button-normal:hover {
    font-weight: 700;
}

.button-clicked,
.button-normal {
    width: 150px;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px 15px;
}